<!-- <p><% @posts1.each do |post| %></p> -->
<p> <% @user.content %> </p>
<p> <% end %> </p>
<!-- different systax error of <%= %> vs <% %>

<!--
<h2>Create Post</h2>
<form action="/account" method="post">
<input type="text" name="title" placeholder="title"><br>
<input type="content" name="content" placeholder="content"><br>
<input type="submit" value="Create Post">
<form>

<% if session[:user] == nil %>
<p>No post to display here</p>
<% elsif session[:user] != nil %>
  <p>Here are your posts <%= session[:title] %></p>
  <p><%= session[:content] %></p>
  <p><%= session[:user] %></p>
<% end %>


<h2> Display Posts </h2>
<p>post by <%= session[:user].name %></p>
<p><%= session[:title] %></p>
<p><%= session[:content] %></p> -->
